@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@600&family=Righteous&display=swap");

.input-div {
    //display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}
.input-div + .input {
    margin-top: 1.5rem;
}
.input-label {
    color: #8597a3;
    position: absolute;
    font-size: 0.9rem;
    top: 1.5rem;
    transition: 0.25s ease;
    font-weight: bold;
}
.input-field {
    border: 0;
    z-index: 1;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
    font: inherit;
    font-size: 1rem;
    padding: 0.25rem 0;
}

.input-field:focus + .input-label,
.input-field:valid + .input-label {
    color: #1d90f4;
    transform: translateY(-1.5rem);
}

$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;

a {
    color: #1d90f4;
}
.register {
    border-radius: 20px;
    padding: 4rem 2rem;
    box-shadow: 0 0 250px #000;
}

.dot {
    font-size: 40px;
    color: #1d90f4;
}

.btn {
    background-color: #035eaf;
    border: 0;
    font-weight: bold;
    color:white;
      border-radius: 106px;
}
.navbar {
    width: 100%;
    background-color: #282a37;
    color: white;
}
.nav-link {
    color: white;
}
.navbar-brand {
    color: white;
}
select {
    background-color: #282a37;
    color: white;
    border: 0;
    font-weight: bold;
}

.letters {
    color: white;
    font-weight: bold;
}
.heading {
    font-size: 30px;
    font-family: "Righteous", cursive;
    margin: 0 0 1rem;
    color: white;
}

.blue-label{
    color: #1d90f4;
}
.gray-label{
  color: #8597a3;
}
select:disabled{
    color: #8597a3;
}

.mreza {
  margin: 0 auto;

   width: 70%;
   height: 100%;
 
}
.poravnanje {
   align-items: center;
 //  display: flex;
   flex-direction: row;

}
.background_image {
    background-image: linear-gradient(
            85deg,
            rgba(40, 42, 55, 1),
            rgba(40, 42, 55, 1),
              rgba(40, 42, 55, 1),

            rgba(40, 42, 55, 0.97),
            rgba(40, 42, 55, 0.93),
            rgba(40, 42, 55, 0.9),
            rgba(40, 42, 55, 0.9),
            rgba(40, 42, 55, 0.8)
        ),
        url("./../images/wallpaper.jpg");
    background-size: cover;
}
.form-control:focus{
    background-color: transparent;
    color:white;
  outline: 0;
  box-shadow: none;
  border-color: #1d90f4;
}
form{
    width:75%;
}
@media screen and (min-width: 800px) {
  .mreza{
    width: 50%; 
  }
  
}
@media screen and (max-width: 450px) {
  .mreza{
    width: 100%; 
  }

}


body{
    background-color: #282a37;
    min-height: 100%;
}
.box{
   
    position:relative;
}
.half_border{
   
    position: absolute;
        right: 40%;
        left: 0;
         border-bottom: 1.5px solid #1d90f4;
}
html {
    height: 100%;
}